<?xml version="1.0"?>

<launch>

<!-- PDDL ACTION : init-planning-system -->
<node name="rosplan_interface_init_planning_system" pkg="robocluedo_rosplan_interface" type="node_init_planning_system" 
	respawn="false" output="screen">

	<param name="knowledge_base"		value="rosplan_knowledge_base" />
	<param name="pddl_action_name"		value="init-planning-system" />
	<param name="action_dispatch_topic" value="/rosplan_plan_dispatcher/action_dispatch" />
	<param name="action_feedback_topic" value="/rosplan_plan_dispatcher/action_feedback" />

</node>

</launch>
