<?xml version="1.0"?>
<launch>
	
	<!-- include all the parameters for running the system -->
	<include file="$(find robocluedo)/config/parameters.launch" />
	
	<!-- load the ontology and the interface -->
	<node pkg="armor" type="execute" name="armor_service" args="it.emarolab.armor.ARMORMainService" required="true"/>
	<node pkg="robocluedo_armor_interface" type="cluedo_armor_interface" name="cluedo_armor_interface" required="true"/>
	
</launch>
