<?xml version="1.0" ?>
<launch>

<arg name="out" default="screen" />

<rosparam 
	file="$(find arm_urdf)/config/motors_config.yaml" 
	command="load" ns="/arm_robot" />

<node name="controller_spawner" pkg="controller_manager" 
	type="spawner" output="$(arg out)" 
	args="--namespace=/arm_robot
		joint_state_controller
		joint1_position_controller
		joint2_position_controller
		joint3_position_controller
		joint4_position_controller
		rgrip_position_controller
		lgrip_position_controller
		--shutdown-timeout 3" />

</launch>
